<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <button class="submit-button1" mat-raised-button>Franchise Enquiry</button>
            <button class="submit-button2" mat-raised-button>Admission Enquiry</button>
            <div class="banner-background">
                <div class="owl-carousel banner-carousel">
                    <img class="banner-card" src="../../../../assets/sanford-award1.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/sanford-award2.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/sanford-award3.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/b1.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/b2.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/b3.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/b4.jpg" alt="">
                    <img class="banner-card" src="../../../../assets/b5.jpg" alt="">
                </div>
            </div>
            <div class="container-fluid side-banner">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-10 offset-lg-2">
                                <img src="../../../../assets/side-banner.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row content-margin">
                            <div class="col-lg-11 title">
                                <h2>Welcome to India’s Most Preferred Preschool Brand <span>SANFORD</span></h2>
                                <p>SANFORD – Group Of Schools is a
                                    brainchild of husband-wife duo S. K. Rathor & Kavita Rathor. They laid the foundation of
                                    their first preschool in 1999 with a bouquet of attraction, concepts, and role-play
                                    models for tiny tots based on the ‘play-way’ methodology or ‘learning by doing. After
                                    more than 10 years of rich experience in the field, they launched their school brand
                                    SANFORD in December 2009 based on the U. K. Concept of preschool education.</p>
                                <p class="p2">SANFORD
                                    curriculum involves effective, time-tested elements of traditional learning infused with
                                    cutting-edge technology resources, which bridges the learning gap. The curriculum is
                                    crafted in the hexagram of ‘Core Value Circle’ which helps children in the Refinement of
                                    their senses, Gross Motor Development,</p>
                                <button class="submit-button" mat-raised-button>Learn More About Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid our-program">
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row title text-center">
                            <h2>OUR <span>PROGRAMS</span></h2>
                            <div class="col-12 col-lg-3">
                                <div class="row program-card dark-red-color">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/c1.jpg" alt="">
                                    </div>
                                    <h3>SAN TODDLER</h3>
                                    <p>SAN Toddler Program is based on the concept of fun and learn, children are
                                        allowed to play</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="row program-card dark-yellow-color">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/c2.jpg" alt="">
                                    </div>
                                    <h3>SAN LEARNER</h3>
                                    <p>SAN Learner program is designed to help children in smooth transition</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="row program-card dark-green-color">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/c3.jpg" alt="">
                                    </div>
                                    <h3>SAN JUNIOR</h3>
                                    <p>SAN Junior program focuses on the holistic development of the child</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="row program-card dark-skyblue-color">
                                    <div class="card-img-circle">
                                        <img src="../../../../assets/c4.jpg" alt="">
                                    </div>
                                    <h3>SAN SENIOR</h3>
                                    <p>SAN Senior program is aligned with State, CBSE, ICSE, Cambridge and IB school</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid curriculam">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-10 offset-lg-2 title">
                            <h2>OUR <span>CURRICULUM</span></h2>
                            <p>Our curriculum is crafted in “Core Value Circle” which helps children in the
                                refinement of their senses; communication & language development, motor skill
                                development, physical development, creative development, social development, personality
                                development, problem-solving, reasoning & numeracy skills, practical life/ care for self
                                & environment and understanding of the world.</p>
                            <p class="p2">Our curriculum is based on The U. K. Concept of Preschool Education (EYFS –
                                Early Years Foundation Stage), which involves effective and time-tested elements of
                                traditional learning infused with cutting-edge technology resources, which makes the
                                teaching &learning more effective and joyful. The curriculum is crafted to help children
                                to learn with uniquely designed activities, games & role-plays.</p>
                            <button class="submit-button" mat-raised-button>Learn More</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <img src="../../../../assets/core-values.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid trade-parter">
                <div class="row title">
                    <div class="col-lg-12">
                        <h2 class="white-color">GLOBAL PARTNERS</h2>
                        <img src="../../../../assets/Global-partners-page-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container-fluid growth-story">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 title text-center mt-4">
                        <h2>THE GROWTH <span>STORY</span></h2>
                        <p>The story, which begins 22 years back with one preschool, resulted in a well-established
                            leading preschool brand SANFORT and writing a new chapter in its success story every day.
                        </p>
                    </div>
                    <div class="col-12 col-lg-8 offset-lg-2 mt-2">
                        <img src="../../../../assets/Growth-story.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container-fluid franchise-opportunity">
                <div class="row title">
                    <div class="col-12 col-lg-4"><img src="../../../../assets/franchise-banner-image.png" alt=""></div>
                    <div class="col-12 offset-0 col-lg-7 offset-lg-1 pt-3">
                        <h2 class="text-center">FRANCHISE OPPORTUNITY</h2>
                        <h4 class="text-center">Join Hands With India’s Leading Preschool Brand</h4>
                        <h2 class="text-center"><span style="color: rgb(242, 33, 96);">SANFORT</span></h2>
                        <p>Preschool market is growing tremendously year after year and the potential has increased
                            multifold post pandemic and National Educational Policy 2020 (NEP) also has made preschool
                            education compulsory. So, this is the best time to start a preschool.</p>
                        <p>Since it’s inception SANFORT has been a preferred choice of parents and franchisee both. We
                            have nurtured more than 80000 children so far with the help of our 250+ franchise partners
                            and 3000+ workforces.</p>
                        <p>SANFORT Franchisee has been proved an Ultra High Returns on investment business model so; we
                            invite you to come forward to join the league of our highly successful franchise partners.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid extra-light-skyblue-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>SANFORD IMAGE <span>GALLERY</span></h2>
                    </div>
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <div class="row">
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations1.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations2.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations3.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations4.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations5.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations7.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations8.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations15.jpg" alt="" >
                            </div>
                            <div class="col-12 col-lg-4 img-column">
                                <img src="../../../../assets/our-system/events-celebrations/events-celebrations9.jpg" alt="" >
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="container-fluid awards">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>AWARDS & <span>ACCOLADES</span></h2>
                    </div>
                    <div class="col-lg-6 offset-lg-3 title text-center">
                        <p>The hard work and dedication of our team of more than 3000 passionate people nurturing
                            young children is well appreciated by parents, media and government in India & abroad.</p>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel award-carousel">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>FEATURED <span>IN</span></h2>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel award-carousel">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>