<app-header></app-header>
<div class="home">
    <div class="row">
        <div class="main-card">
            <div class="container-fluid light-red-color padding-top padding-bottom">
                <div class="row">
                    <div class="col-12 col-lg-12 title padding-top text-center padding-bottom">
                        <h2>OUR <span>MODELS</span></h2>
                    </div>
                    <div class="col-12 col-lg-7 logo padding-bottom">
                        <div class="row">
                            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                                <img src="../../../../assets/logo.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 padding-bottom">
                        <div class="row">
                            <div class="col-lg-9 offset-lg-1">
                                <div class="admission-form text-center">
                                    <h3>FRANCHISE ENQUIRY</h3>
                                    <form>
                                        <div class="row">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Name</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Mobile</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Select State</mat-label>
                                                <mat-select type="text" matInput>
                                                    <div *ngFor="let state of indianStates">
                                                        <mat-option value="{{state}}">{{state}}</mat-option>
                                                    </div>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>City</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Select Investement</mat-label>
                                                <mat-select type="text" matInput>
                                                    <div>
                                                        <mat-option>5 Lacs - 10 Lacs Onwards</mat-option>
                                                        <mat-option>25 Lacs - 50 Lacs Onwards</mat-option>
                                                        <mat-option>50 Lacs - 1 Cr. Onwards</mat-option>
                                                    </div>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline">
                                                <mat-label>Message</mat-label>
                                                <input matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button type="submit" mat-raised-button
                                                class="submit-button">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid padding-top franchise">
                        <div class="row">
                            <div class="col-12  col-lg-4 offset-lg-1 title">
                                <h4>Delhi NCR</h4>
                                <h5><span>Space:</span> Minimum requirement 2500 sq ft space preferably on ground floor
                                    with some open space in prime residential area.</h5>
                                <h5><span>Investment: </span>Rs. 15 lakhs onwards.</h5>
                            </div>
                            <div class="col-9 offset-3 col-lg-4 offset-lg-3">
                                <img src="../../../../assets/c3.jpg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 offset-3 col-lg-4 offset-lg-2">
                                <img src="../../../../assets/c2.jpg" alt="">
                            </div>
                            <div class="col-12 col-lg-4 offset-lg-1 title">
                                <h4>Delhi NCR</h4>
                                <h5><span>Space:</span> Minimum requirement 2500 sq ft space preferably on ground floor
                                    with some open space in prime residential area.</h5>
                                <h5><span>Investment: </span>Rs. 15 lakhs onwards.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid growth-story">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 title text-center mt-4">
                        <h2>THE <span>JOURNEY</span></h2>
                    </div>
                    <div class="col-12 col-lg-8 offset-lg-2 mt-2">
                        <img src="../../../../assets/Growth-story.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container-fluid extra-light-green-color advantage padding-bottom">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 title text-center mt-4">
                        <h2>SANFORD <span>ADVANTAGE</span></h2>
                    </div>
                    <div class="col-lg-10 offset-lg-1 mt-2">
                        <div class="row">
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/1_san_advantage-min.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/2_san_advantage-min.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/3_san_advantage-min.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/4_san_advantage-min.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/5_san_advantage-min.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2">
                                <img src="../../../../assets/our-system/franchise/6_san_advantage-min.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center title padding-top">
                        <h2>SANFORT <span>SUPPORT</span></h2>
                    </div>
                    <div class="col-10 offset-1">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-green-color text-center">
                                                <mat-icon>file_map</mat-icon>
                                            <h3>Initial Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-red-color text-center">
                                                <mat-icon>corporate_fare</mat-icon>
                                            <h3>Infrastructure Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-blue-color text-center">
                                                <mat-icon>school</mat-icon>
                                            <h3>Academic Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-yellow-color text-center">
                                                <mat-icon>diversity_3</mat-icon>
                                            <h3>Recruitment & Training</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-blue-color text-center">
                                                <mat-icon>local_convenience_store                                                </mat-icon>
                                            <h3>Markting Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-yellow-color text-center">
                                                <mat-icon>local_shipping</mat-icon>
                                            <h3>Logistic Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-red-color text-center">
                                                <mat-icon>content_paste_search</mat-icon>
                                            <h3>Quality Control & Audit</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="row">
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <div class="row" style="padding: 5px !important;">
                                            <div class="col-10 offset-1 col-lg-10 offset-lg-1 support-card dark-green-color text-center">
                                                <mat-icon>language</mat-icon>
                                            <h3>IT Support</h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid awards">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 title text-center">
                        <h2>AWARDS & <span>ACCOLADES</span></h2>
                    </div>
                    <div class="col-lg-6 offset-lg-3 title text-center">
                        <p>The hard work and dedication of our team of more than 3000 passionate people nurturing
                            young children is well appreciated by parents, media and government in India & abroad.</p>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel award-carousel">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                            <img src="../../../../assets/award1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="loader">
    <div class="spinner-overlay" *ngIf="loader">
        <mat-progress-spinner *ngIf="loader" diameter="65" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
    </div>
</div>